




<html>
  <body>
            	<link rel="stylesheet" href="https://purple-silver-helicona.glitch.me/style.css">


    <div class="container" style="min-height: 100vh;">
      <h1 class="text-center" style="margin-top: 100px;">
PsychoPath Technology | PsychoGame Beta      </h1>

      <hr>

      <div class="container">
        <input id="search" type="text" class="form-control" placeholder="Oyun ara" style="background: none; color: white;">
      </div><br>

      <center>
        <div style="margin-left: 0.1rem; margin-right: 0.1rem;" class="row row-cols-1 row-cols-md-4">
          <div class="col mb-1">
            <div class="card bg-transparent mb-3" style="max-width: 18rem;">
              <div class="card-header">
                <center>
                  <img src="https://images-ext-1.discordapp.net/external/N3yqJ6THfT8ilYAQ_fMUg-5kmy_kgyd_72wQmm4Bgp4/%3Fsize%3D1024/https/cdn.discordapp.com/icons/935200258110156881/e141a72ef063ee303b62561815eb8e23.png?width=427&height=427" style="border-radius: 100%; max-width: 100%; height: 3.5rem;">
                </center>
              </div>
              <div class="card-body">
                <p class="card-text avatar">Oyun: Call of War</p>
                <p class="card-text avatar">Çok oyunculu olarak oynanacak 1 numaralı gerçek zamanlı WW2 strateji oyunu.</p>
                <a class="button1 nav-link" style="width: 100%; filter: invert(1);" href="/cow"><b>Oyna</b></a>
              </div>
            </div>
          </div>
         
        </div>
        </center>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
      $("#search").keyup(function(){
        var value = $(this).val().toLowerCase();
        $(".card, .mb-3").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>

    <script>
      if (localStorage.getItem("mode") != "") {
        document.body.classList.add(localStorage.getItem("mode"));
        document.getElementById("mode-btn").checked = true;
      }
    </script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/index.js"></script>
  </body>
</html>