<div class="loader-container">
  <div class="loader"></div>
  <img src="https://media.discordapp.net/attachments/980075405040050248/1004021033583517816/Psychopath.png?width=375&height=375" class="loader-img">
</div>